* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

svg {
    position: relative;
    width: 1106px;
    height: 610px;
    flex-shrink: 0;
}

nav {
    display: flex;
    background-color: #f1f1f1;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.nav__div__img {
    display: none;
}

.nav__img {
    width: 48px;
    margin-left: 1em;
}

.nav__img--menu {
    width: 40px;
    margin-right: 24px;
}

.nav__div {
    display: flex;
}

nav ul {
    display: none;
}

header {
    background: linear-gradient(to top, rgb(113, 10, 118), #a551a994), url(img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F2921D;
}

.header--logo {
    width: 15rem;
}

.header__div--container {
    width: 100%;
    display: grid;
}

.header__div--titulo {
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin: 8% 10%;
}

.div__p--definition {
    display: flex;
    text-align: justify;
    margin: 8px 0px 24px 0px;
    line-height: 24px;
}

.section--about {
    background: linear-gradient(to top, #f1f1f1dc, #f1f1f1), url(img/simbolo-poli-mulheres-lilás.png);
    background-size: 14%;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 64px;
    color: #A451A9;
}

.section--creators {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f2f2;
    color: #A451A9;
}

.section__h2--about {
    padding: 40px 0px;
    font-size: 2.5rem;
    text-align: center;
}

.section__div--content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.div--card {
    display: flex;
    flex-wrap: wrap;
    background-color: #A451A9;
    color: #f1f1f1;
    max-width: 28rem;
    margin: 20px;
    border-radius: 10px;
}

.div--card h2 {
    display: flex;
    height: 48px;
    align-items: end;
    padding: 0px 24px 24px 24px;
}

.div__p--texto {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    padding: 0px 24px 24px 24px;
    min-height: 120px;
}

.div--container--app {
    display: grid;
    justify-content: center;
    background-color: #A451A9;
    padding: 30px;
    color: #f1f1f1;
}

.div--text--app {
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.div--text--app p {
    margin-bottom: 24px;
}

.div__button--app {
    width: 110px;
    height: 32px;
    font-size: 18px;
    background-color: #f1f1f1;
    color: #F2921D;
    font-weight: bold;
    border-radius: 24px;
    border-style: none;
}

.div--img--app {
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}

.img--app {
    max-width: 250px;
}

.section__div--creators {
    padding-bottom: 48px;
}

.div--creator {
    text-align: center;
}

.div--creator img {
    margin-bottom: 16px;
}

.div--creator h2 {
    margin-bottom: 16px;
}

.div--creator p {
    margin: 0px 40px 16px 40px;
    text-align: justify;
}

.img--creator {
    width: 14rem;
    border-radius: 100%;
    margin-top: 16px;
}

footer {
    background-color: #A451A9;
    color: #f1f1f1;
    text-align: center;
    padding-top: 10px;
}

.footer__div--cc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: black;
    font-weight: 600;
}

@media screen and (min-width: 1177px) {
    .nav {
        height: 80px;
    }
    .nav__div__img--mobile {
        display: none;
    }
    .nav__div__img {
        display: flex;
    }
    .nav__img {
        width: 80px;
        padding-top: 1px;
    }
    .nav__div--menu {
        display: none;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav li {
        display: flex;
        list-style: none;
        margin-right: 1em;
    }
    li > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #A451A9;
        font-weight: bold;
        margin-right: 36px;
    }
    
    li > a:hover {
        color: #F2921D;
    }
    header {
        display: flex;
        background: linear-gradient(to top, rgba(113, 10, 118, 0.814), #a551a959), url(img/bg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #F2921D;
    }
    .header--logo {
        width: 20rem;
    }
    .header__div--container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .header__div--titulo {
        display: grid;
        text-align: left;
        width: auto;
        margin: 7% 5%;
        padding: 3%;

        background: rgba(255, 255, 255, 0.100);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(13.5px);
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .div__p--definition {
        font-size: 24px;
        margin-right: 0px;
        width: 38rem;
        line-height: normal;
        text-align: unset;
    }
    .section__div--content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0px 200px;
    }
    .section__h2--about {
        padding-top: 56px;
        font-size: 48px;
    }
    .div--cards {
        display: flex;
    }
    .div--card {
        display: flex;
        background-color: #A451A9;
        color: #f1f1f1;
        width: 16rem;
        margin: 20px;
        border-radius: 10px;
    }
    .div--card h2 {
        font-size: 26px;
    }
    .div__p--texto {
        font-size: 20px;
    }
    .section__div--creators {
        display: flex;
        margin: 0px 120px;
    }
    .div--creator {
        margin: 0px;
    }
    .div--creator p {
        margin: 24px;
        text-align: justify;
    }
    .img--creator {
        width: 10rem;
    }
}
